body{
margin:0;
padding:0;
font-family:sans-serif;
background-image:linear-gradient(to bottom right,white 10%,black);
background-color:#333;
}

/*------------------------------Middle Card------------------------------*/


div.card{
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
top:50%;
left:50%;
cursor:pointer;
width:25%;
height:74%;
position:absolute;
box-sizing:border-box;
text-shadow:3px 3px 8px black;
z-index:3;
}
div.front,.back{
text-align:center;
text-transform:capitalize;
width:100%;
height:100%;
-ms-overflow:hidden;
overflow:hidden;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
position:absolute;
-webkit-transition:transform .6s linear;
transition:transform .6s linear;
box-shadow:1px 3px 30px #f1f1f1 inset;
border-radius:20px;
}
.front{
color:white;
background:black;
-webkit-transform:perspective(700px) rotateY(0deg);
transform:perspective(700px) rotateY(0deg);
background-image:linear-gradient(to bottom right,purple 20%,darkblue);
}
div.back{
background:#f1f1f1;
color:white;
-webkit-transform:perspective(700px) rotateY(180deg);
transform:perspective(700px) rotateY(180deg);
-webkit-background-image:linear-gradient(to bottom right,darkorange 20%,black);
background-image:linear-gradient(to bottom right,darkorange 20%,black);
}
.card:hover >.front{
-webkit-transform:perspective(700px) rotateY(-180deg);
transform:perspective(700px) rotateY(-180deg);
}
.card:hover >.back{
-webkit-transform:perspective(700px) rotateY(0deg);
transform:perspective(700px) rotateY(0deg);
z-index:1;
}
.login{
position:absolute;
text-align:center;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
input[type=text],input[type=password],input[type=email]{
background-color:#333;
color:white;
box-shadow:3px 0px 18px black inset;
}
input[type=text],input[type=password],input[type=submit],input[type=email]{
padding:10px;
border:none;
border-radius:20px;
margin-top:2%;
}
input[type=submit]{
width:50%;
margin-top:40%;
cursor:pointer;
text-transform:uppercase;
}
input[type=submit]:hover{
background-image:linear-gradient(to bottom right,aqua 30%,darkblue);
color:white;
}
h3{
-webkit-margin-top:60%;
margin-top:60%;
text-shadow:3px 3px 8px black;
}


/*------------------------------Right Card------------------------------*/


div.card2{
-webkit-transform:translate(-50%,-50%);
transform:translate(-50%,-50%);
top:50%;
left:70%;
cursor:pointer;
width:25%;
height:60%;
position:absolute;
box-sizing:border-box;
text-shadow:3px 3px 8px black;
z-index:2;
}
div.front2,.back2{
text-align:center;
text-transform:capitalize;
width:100%;
height:100%;
-ms-overflow:hidden;
overflow:hidden;
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
position:absolute;
-webkit-transition:transform .6s linear;
transition:transform .6s linear;
box-shadow:1px 3px 30px #f1f1f1 inset;
border-radius:20px;
}
.front2{
color:white;
background:black;
-webkit-transform:perspective(700px) rotateX(0deg);
transform:perspective(700px) rotateX(0deg);
background-image:linear-gradient(to bottom right,aqua 20%,darkblue);
}
.back2{
background:#f1f1f1;
color:white;
-webkit-transform:perspective(700px) rotateX(180deg);
transform:perspective(700px) rotateX(180deg);
-webkit-background-image:linear-gradient(to bottom right,darkorange 20%,black);
background-image:linear-gradient(to bottom right,lime 20%,yellow);
}
.card2:hover >.front2{
-webkit-transform:perspective(700px) rotateX(-180deg);
transform:perspective(700px) rotateX(-180deg);
}
.card2:hover >.back2{
-webkit-transform:perspective(700px) rotateX(0deg);
transform:perspective(700px) rotateX(0deg);
}
.login2{
position:absolute;
text-align:center;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
input[type=text],input[type=password],input[type=email]{
background-color:#333;
color:white;
box-shadow:3px 0px 18px black inset;
}
input[type=text],input[type=password],input[type=submit],input[type=email]{
padding:10px;
border:none;
border-radius:20px;
margin-top:2%;
}
input[type=submit]{
width:50%;
margin-top:40%;
cursor:pointer;
text-transform:uppercase;
background-color:white;
}
input[type=submit]:hover{
background-image:linear-gradient(to bottom right,aqua 30%,darkblue);
color:white;
}
h4{
-webkit-margin-top:49%;
margin-top:49%;
text-shadow:3px 3px 8px black;
}
input[type=button]{
width:40%;
padding:10px;
font-weight:900;
cursor:pointer;
border:none;
border-radius:10px;
background-color:white;
}

/*----------------------Left card-----------------------*/

div.card3{
top:50%;
left:29%;
transform:translate(-50%,-50%);
height:50%;
width:20%;
position:absolute;
z-index:1;
}
div.front3,.back3{
height:100%;
width:100%;
position:absolute;
backface-visibility:hidden;
color:white;
text-align:center;
overflow:hidden;
transition:transform .6s linear;
box-shadow:1px 3px 30px #f1f1f1 inset;
border:none;
border-radius:20px;
text-shadow:1px 1px 8px grey;
}
div.front3{
background-color:black;
background-image:linear-gradient(to bottom right,aqua,lime);
transform:perspective(700px) rotateZ(0deg);
}
div.back3{
background-color:red;
background-image:linear-gradient(to bottom right,yellow 55%,aqua);
transform:perspective(700px) rotateZ(180deg);
visibility:hidden;
}
.card3:hover >.front3{
background-color:black;
transform:perspective(700px) rotateZ(-180deg);
visibility:hidden;
}

.card3:hover >.back3{
background-color:red;
transform:perspective(700px) rotateZ(0deg);
visibility:visible;
}
